In [3]:
import numpy as np
from catboost import Pool, CatBoostRegressor
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [5]:
air=pd.read_csv("data.csv")

Requirement already satisfied: sklearn in c:\python38\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\python38\lib\site-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in c:\python38\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in c:\python38\lib\site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in c:\python38\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

In [8]:
air

,Temperature,Wind.Speed..km.h.,Pressure,no2,Rainfall,PM10,AQI,PM25
0,14.033333,14.1197,1015.13,17.4,56.8,87,168,89.1
1,15.055556,14.2646,1015.63,7.0,56.8,122,177,105.5
2,15.916662,3.9284,1015.94,28.5,56.8,95,174,100.2
3,16.094444,14.1036,1016.41,14.7,56.8,79,169,89.6
4,16.094444,11.0446,1016.51,7.5,56.8,63,162,76.3
...,...,...,...,...,...,...,...,...
7283,5.105556,13.1054,1021.20,15.2,58.1,59,141,51.9
7284,4.450000,15.1984,1020.64,15.0,56.8,51,139,51.0
7285,3.888889,11.1090,1019.83,15.0,62.0,50,138,50.7
7286,3.438889,8.4364,1019.74,15.2,60.4,48,136,49.8
7287,3.077778,11.3988,1020.01,15.0,59.0,44,132,48.0

In [11]:
X=air[["Temperature","Wind.Speed..km.h.","Pressure","no2","Rainfall","PM10","AQI"]]
y=air["PM25"]

In [14]:
y.shape

(7288,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)